{{ block "index" .  }}
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>~/ - Gavin Holmes</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width", initial-scale=1>
        <link href="static/css/index.css" rel="stylesheet">
        <script>
            document.addEventListener("DOMContentLoaded", (event) => {
                window.history.replaceState({}, "", "/")
            })
        </script>
    </head>
    <body id="body">
        <div class="container">

            <h1>
                # gavin holmes
            </h1>
            <p>
                about me text
            </p>
            <div class="links">
                <a href="#">[resume]</a>
                <a href="#">[github]</a>
                <a href="#">[linkedin]</a>
                <a href="#">[email]</a>
            </div>

            <div class="space"></div>

            <h2>
                ## experience
            </h2>
            <ul>
                <li>
                    <a>computer science tutor</a>
                    at
                    <a style="color: #4b4e57; font-weight: 600;">freelance</a>
                    during
                    <span style="font-weight: 600;">apr 2023</span>
                    -
                    <span style="font-weight: 600;">present</span>
                </li>
                <li>
                    <a>freelance swe</a>
                    at
                    <a href="https://fiverr.com" style="color: #4b4e57; font-weight: 600;">fiverr</a>
                    during
                    <span style="font-weight: 600;">jan 2021</span>
                    -
                    <span style="font-weight: 600;">apr 2025</span>
                </li>
            </ul>

            <div class="space"></div>

            <h2>
                ## projects
            </h2>
            <ul>
                <li>
                    <a href="https://github.com/gavrh/conve" target="_blank">
                        conve
                    </a>
                    - A daemon for messaging securely with post-quantum encryption
                </li>
                <li>
                    <a href="https://github.com/gavrh/conve">
                        germ
                    </a>
                    - My stupid terminal
                </li>
                <li>
                    <a href="https://github.com/gavrh/conve">
                        spotless
                    </a>
                    - Spotify terminal client
                </li>
                <li>
                    <a href="https://github.com/gavrh/conve">
                        librespot-c
                    </a>
                    - C wrapper for librespot
                </li>
                <li>
                    <a href="https://github.com/gavrh/conve">
                        scrapbook
                    </a>
                    - Online file storage scrapbook for my family
                </li>
                <li>
                    <a href="https://github.com/gavrh/conve">
                        gav.codes
                    </a>
                    - My personal site
                </li>
            </ul>

            <div class="space"></div>

            <h2>
                ## blog
            </h2>
            <ul>
                <li>
                    something cool
                </li>
                <li>
                    other cool title
                </li>
                <li>
                    other cool title
                </li>
                <li>
                    other cool title
                </li>
                <li>
                    other cool title
                </li>
                <li>
                    other cool title
                </li>
                <li>
                    other cool title
                </li>
                <li>
                    other cool title
                </li>
                <li>
                    other cool title
                </li>
                <li>
                    other cool title
                </li>
                <li>
                    other cool title
                </li>
                <li>
                    other cool title
                </li>
            </ul>
        </div>
    </body>
</html>
{{ end }}
