@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
}

html, body {
	width: 100%;
	height: 100%;
}

body {
	padding-bottom: env(safe-area-inset-bottom);
}

::selection {
	background: rgba(71, 212, 185, 0.5);
}
::-moz-selection {
	background: rgba(71, 212, 185, 0.5);
}
